
<label class="sr-only" for="inlineFormInputGroupUsername2">Map</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><%= image_tag('map-symbol.svg') %></div>
    </div>
  <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Entrez votre adresse">
</div>
