    <div class="card-moon-night">
      <div class="card-moon-night-icon-wrapper"><%= image_tag('moon-stars.svg', width: 48) %></div>
      <p class="card-moon-night-description-wrapper">Une nuitée</p>
    </div>

    <br>

    <div class="card-moon-night">
      <div class="card-moon-night-icon-wrapper"><%= image_tag('moon-stars.svg', width: 48) %></div>
      <p class="card-moon-night-description-wrapper">Deux nuitées</p>
    </div>

    <br>

    <div class="card-moon-night">
      <div class="card-moon-night-icon-wrapper"><%= image_tag('moon-stars.svg', width: 48) %></div>
      <p class="card-moon-night-description-wrapper">Trois nuitées</p>
    </div>
