
  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper---blue"><%= image_tag('service-icons/icon-douche.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Douche</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper---brown"><%= image_tag('service-icons/icon-tv.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">TV</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper---purple"><%= image_tag('service-icons/icon-wifi.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Wifi</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper---green"><%= image_tag('service-icons/icon-livres.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Livres</div>
  </div>
</div>
