

<style>
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
</style>



<%# --------------------------------------------------------------------------------------- %>

<style>
 .form-control, placeholder {
   text-align: center;
 }
</style>

<%# ------------ %>

</div>
  <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Je propose une chambre">
</div>
</div>


<%# ------------------------------------------------------------------------------------- %>


<style>
  .h1{
    font-family: DM Sans;
    font-size: 8px;
  }
</style>

<%# ------------------------------ %>

<div>
<h1>Equipements</h1>
</div>

<div>
<h1>Je propose</h1>
</div>
