<div class="container housing-request my-5">
  <div class="row px-3 index-housing-request">
    <h4 style="font-weight: bolder;">Mes demandes</h4>
    <%  @requests.each do |request| %>
      <%= link_to seeker_housing_request_path(request), class:"text-decoration-none text-dark d-inline-block w-100" do %>
      <%= render "seeker/housing_requests/housing_requests", room: request.room, request: request %>
      <% end %>
    <% end %>
  </div>
</div>
