<h1 class="text-center">DODOCHO</h1>
<br>
<br>
<br>
<br>
<p class="text-center"><%= link_to 'JE CHERCHE UNE CHAMBRE', edit_seeker_users_path %></p>
<p class="text-center"><%= link_to 'Je propose une chambre', new_host_room_path %></p>
