<div class="home-bg">
  <%= image_tag 'service-icons/main_logo.svg', class: "home-logo" %>
  <div class="home-bottom">
    <p class="text-center mx-3">
      <%= link_to 'JE CHERCHE UNE CHAMBRE', edit_seeker_offered_services_path, class: "btn btn-gradient btn-block btn-lg mb-5"%>
      </p>
    <p class="text-center">
      <%= link_to 'Je suis hébergeur', host_housing_requests_path, class: "btn btn-lg btn-outline-light font-weight-bold py-2 px-5" %>
    </p>
  </div>
</div>
