.housing-request {
  padding-top: 3rem;
  background: white;
}

.index-housing-request {
  .button-checked {
    height: 20px;
    width: 20px;
    font-size: 1em;
    border-radius: 50%;
    background-color: #6FCF97;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    display: grid;
    place-content: center;

    i {
      width: 13px;
      height: 16px;
      color: white;
    }
  }

  .button-refuse {
    height: 20px;
    width: 20px;
    font-size: 1em;
    border-radius: 50%;
    background-color: #FE5E41;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    display: grid;
    place-content: center;

    i {
    width: 10px;
    height: 16px;
    color: white;

    }
  }

  .card-index {
    background-color: white;
    border-radius: 0.4em;
  }
  .card-index-image-wrapper {
    padding: 1em;
    border-radius: 0.4em 0.4em 0 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 150px;

    h2 {
      color: white;
      font-size: 20px;
      font-weight: bolder;
      margin: 0;
    }
  }

  .card-index-description-wrapper {
    padding: 0em;
    border-radius: 0.4em;
    background: white;
    width: 0%;
    font-family: "DM Sans";
    font-weight: bold;
  }

  .card-footer-description-wrapper {
    padding: 0em;
    border-radius: 0.4em;
    background: white;
    width: 100%;
    font-family: "DM Sans";
    font-weight: bold;

    .fa-tv {
      color: #CF976F;
    }

    .fa-wifi {
      color: #2A167B;
    }

    .fa-book {
      color: #6FCF97;
    }

    .fa-sink {
      color: #09B2D7;
    }

    .fa-map-marker-alt {
      color: #FFB84E;
    }

    .text-right {
      color: #FFB84E;
    }

    .button-points {
      height: 20px;
      line-height: 20px;
      width: 20px;
      font-size: 0.7em;
      border-radius: 50%;
      background-color: #FFB84E;
      color: black;
      text-align: center;
    }
  }
}

.coordinates {
  border: 2px solid #f05d28;
  padding: 1rem;

  p {
    padding-right: 2rem;

    a {
      color: rgba(40, 40, 40, 0.9);
    }
  }
}

.card-background {
  height: 30em;
}
