.moon-container {
  padding-top: 1rem;

  .input-group-text {
    border-radius: 10px 0 0 10px;
  }
}

.card-moon-night {
  background-color: rgba(41, 79, 212, 0.6);
  display: flex;
  align-items: center;
  border-radius: 0.3em;
  padding: 1rem 2rem;
  font-family: "DM Sans";
  font-weight: bold;
  border: 5px solid transparent;

  .card-moon-night-description-wrapper {
    margin-left: 3rem;
    width: 100px;
    margin-right: 1rem;
  }

  .fas {
    opacity: 0;
    font-size: 1.5rem;
  }
}

.card-moon-night-icon-wrapper {
  border-radius: 0.3em 0 0 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-moon-night-description-wrapper {
  margin-bottom: 0;
  color: white;
}

  input:checked + .card-moon-night{
    border: 5px solid rgb(3, 3, 155);

    .fas {
      opacity: 1;
      color: white;
    }
  }
