.index-cards {
  .card-index {
    background-color: white;
    border-radius: 0.4em;
  }
  .card-index-image-wrapper {
    padding: 1em;
    border-radius: 0.4em 0.4em 0 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 150px;

    h2 {
      color: white;
      font-size: 20px;
      font-weight: bolder;
      margin: 0;
    }
  }

  .card-index-description-wrapper {
    padding: 0em;
    border-radius: 0.4em;
    background: white;
    width: 100%;
    font-family: "DM Sans";
    font-weight: bold;
  }

  .card-footer-description-wrapper {
    padding: 0em;
    border-radius: 0.4em;
    background: white;
    width: 100%;
    font-family: "DM Sans";
    font-weight: bold;

    .fa-tv {
      color: #CF976F;
    }

    .fa-wifi {
      color: #2A167B;
    }

    .fa-book {
      color: #6FCF97;
    }

    .fa-sink {
      color: #09B2D7;
    }

    .fa-map-marker-alt {
      color: #FFB84E;
    }

    .text-right {
      color: #FFB84E;
    }
  }
}


* {
  box-sizing: border-box;
}

.cont {
  margin: auto;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color(white);
  height: 100%;
}

.ca {
  background-size: contain;
  background-color: white;
  border-radius: 20px;
  // box-shadow: 0 10px 30px -5px;
  text-align: center;
  padding: 5px 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.cont-icone {
  background-color: #FEF2EE;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin: auto auto 20px;
}

h1 {
font-size: 22px;
margin: 10px auto 0;
letter-spacing: 1px;
}

h2 {
  margin: auto;
  color: grey;
  font-weight: 300;
  font-size: 14px;
}

.bu {
  display: block;
  text-decoration: none;
  background: color(prime);
  color: color(white);
  padding: 12px;
  border: none;
  border-radius: 25px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 200px;
  transition: 0.2s;
  }

.span {
  font-size: 20px;
  line-height: 1;
  vertical-align: top;
}

.container {
  color: grey;
}
