.card-index {
    background-color: white;
    border-radius: 0.3em;
}
.card-index-image-wrapper {
    padding: 0em;
    border-radius: 0.4em 0.4em 0.3em 0.4em;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: cover;
}

.card-index-description-wrapper {
    padding: 0em;
    border-radius: 0.4em 0.4em 0.3em 0.4em;
    background: white;
    width: 100%;
    font-family: "DM Sans";
    font-weight: bold;
    border-radius: 4px;
}

.card-footer-description-wrapper {
    padding: 0em;
    border-radius: 0.4em 0.4em 0.3em 0.4em;
    background: white;
    width: 100%;
    font-family: "DM Sans";
    font-weight: bold;
    border-radius: 4px;
}
