
.card-service-icon-wrapper---blue{
  background-color: #B3E7F3;
}

.card-service-icon-wrapper---brown{
  background-color: #F0DFD2;
}

.card-service-icon-wrapper---purple{
  background-color: #BDB7D6;
}

.card-service-icon-wrapper---green{
  background-color: rgba(111, 207, 151, 0.31);;
}

input:checked + .card-service {
  border: 1px solid red;
}

