.card-background {
  background-color: rgba(245, 215, 186, 0.945);
}

.card-description-wrapper > h4 {
  color: rgb(240, 93, 40);
  font-family: "DM Sans";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-description-wrapper > p {
  color: black;
  font-size: 1rem;
  font-family: "DM Sans";
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer-description-wrapper {
    padding: 0em;
    border-radius: 0.4em;
    background: white;
    width: 80%;
    font-family: "DM Sans";
    font-weight: bold;

    .fa-tv {
      color: #CF976F;
    }

    .fa-wifi {
      color: #2A167B;
    }

    .fa-book {
      color: #6FCF97;
    }

    .fa-sink {
      color: #09B2D7;
    }

    .fa-map-marker-alt {
      color: #FFB84E;
    }

    .text-right {
      color: #FFB84E;
    }
}

.cover {
  object-fit: cover;
}
