<div class="services-container container mt-5">
  <div class="d-flex flex-column h-100">
    <h4>Equipements</h4>
  </div>

<label for="user_services_jardinage" class="card-service card-service--gardening flex-grow-1 shadow">
  <div class="card-service-icon-wrapper card-service-icon-wrapper---blue"><img src="/assets/service-icons/douche.svg"></div>
    <div class="d-flex infos-services">
      <div class="card-service-description-wrapper">Douche</div>
      <i class="fas fa-check"></i>
    </div>
</label>

<label for="user_services_jardinage" class="card-service card-service--gardening flex-grow-1 shadow">
  <div class="card-service-icon-wrapper card-service-icon-wrapper---brown"><img src="/assets/service-icons/tv.svg"></div>
    <div class="d-flex infos-services">
      <div class="card-service-description-wrapper">TV</div>
      <i class="fas fa-check"></i>
    </div>
</label>


<label for="user_services_jardinage" class="card-service card-service--gardening flex-grow-1 shadow">
  <div class="card-service-icon-wrapper card-service-icon-wrapper---purple"><img src="/assets/service-icons/wifi.svg"></div>
    <div class="d-flex infos-services">
      <div class="card-service-description-wrapper">Wifi</div>
      <i class="fas fa-check"></i>
    </div>
</label>



<label for="user_services_jardinage" class="card-service card-service--gardening flex-grow-1 shadow">
  <div class="card-service-icon-wrapper card-service-icon-wrapper---green"><img src="/assets/service-icons/livres.svg"></div>
    <div class="d-flex infos-services">
      <div class="card-service-description-wrapper">Livres</div>
      <i class="fas fa-check"></i>
    </div>
</label>


<div>
  <a class="btn btn-gradient" href="#">VALIDER</a>
</div>

</div>
